{% extends 'SProvider/Header.html' %}
{% block researchblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 1104px;
    height: 442px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style12 {color: #FFFF00; font-weight: bold; }
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">
 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">View Food Recommend Prediction Type Details  !!! </p>
                            <hr>
                            <div >
                               <table border="5" bordercolor="#FF00FF">


                                   <tr>

                        <td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Foodid</span></div></td>
                        <td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Userid</span></div></td>
                        <td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Following_Users</span></div></td>
                        <td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Followers</span></div></td>
                        <td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Rating</span></div></td>
                        <td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Time</span></div></td>
                        <td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Review</span></div></td>
                        <td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Prediction</span></div></td>


                      </tr>
                            {% for object in list_objects %}
                      <tr>
                          <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.Foodid}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.Userid}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.Following_Users}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.Followers}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.Rating}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.Time}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center"><textarea cols="15" rows="3">{{object.Review}}</textarea>
</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.Prediction}}</div></td>


                        </tr>

                                        {% endfor %}
                      </table>

                            </div>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>